In [1]:
#导入pandas库
import pandas as pd

#### 创建方式①

In [2]:
#将两个series对象作为字典的值创建DataFrame对象
area_dict = {#单位 km²
    "beijing":16410.54,
    "shanghai":6340.5,
    "guangzhou":7434
}
population_dict = {#单位 万人  2018年前后
    "beijing":2154.2,
    "shanghai":2423.78,
    "guangzhou":40.6
}

#创建series对象
population_series = pd.Series(population_dict)
area_series = pd.Series(area_dict)
#创建DataFrame对象  最左侧列是由二者共同的KEY决定的 最上面的行是由用户自定义的
d = pd.DataFrame({'area':area_series,'population':population_series})
d

               area  population
beijing    16410.54     2154.20
shanghai    6340.50     2423.78
guangzhou   7434.00       40.60

In [3]:
# values index columns属性
d.values#指定第一行的值

array([[16410.54,  2154.2 ],
       [ 6340.5 ,  2423.78],
       [ 7434.  ,    40.6 ]])

In [4]:
d.columns#获取列索引

Index(['area', 'population'], dtype='object')

In [5]:
d.index#获取行索引

Index(['beijing', 'shanghai', 'guangzhou'], dtype='object')

#### 创建方式②

In [6]:
#使用列表直接创建
data = pd.DataFrame([area_dict,population_dict])#这种方法将两个字典的数据按照类别排列，表头是公共的元素
data

    beijing  shanghai  guangzhou
0  16410.54   6340.50     7434.0
1   2154.20   2423.78       40.6

In [7]:
#设置行索引
data = pd.DataFrame([area_dict,population_dict],index=["area","population"])
data

             beijing  shanghai  guangzhou
area        16410.54   6340.50     7434.0
population   2154.20   2423.78       40.6

#### 创建方式③

In [8]:
#直接传入series强制转换
data = pd.DataFrame(population_series)#这种方式，行索引是KEY，对应的值是VALUE
data

                 0
beijing    2154.20
shanghai   2423.78
guangzhou    40.60

In [9]:
#指定列索引
data = pd.DataFrame(population_series,columns=["population"])
data

           population
beijing       2154.20
shanghai      2423.78
guangzhou       40.60

#### 创建方式④

In [10]:
#使用列表推导式来创建  生成表达式用于构建字典列表
dataDict = [{'a':i,'b':i*2} for i in range(3)]
dataDict

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [11]:
dataFrame = pd.DataFrame(dataDict)#注意 这里的key作为列索引 行索引由于没有指定 所以是默认的
dataFrame

   a  b
0  0  0
1  1  2
2  2  4

In [12]:
#为上面的结果指定行索引
dataFrame = pd.DataFrame(dataDict,index=['A','B','C'])#注意 这里的key作为列索引 行索引由于没有指定 所以是默认的
dataFrame

   a  b
A  0  0
B  1  2
C  2  4

#### 创建方式⑤

In [13]:
#使用numpy建立二维数组 指定columns与index 使用DataFrame包装 如果不指定那么行索引与列索引是默认的
import numpy as np
pd.DataFrame(np.random.randint(0,10,(3,3)),columns=['a','b','c'],index=list("ABC"))

   a  b  c
A  8  7  0
B  4  5  6
C  4  7  8