In [1]:
import pandas as pd

#### Series对象的拼接

In [2]:
#纵向拼接
ser1 = pd.Series([10,20,30],index=list("abd"))
ser2 = pd.Series([1,2,3],index=list("ABC"))
ser3 = pd.Series([100,200,300],index=["aa","bb","cc"])
pd.concat([ser1,ser2,ser3])#注意：多个pandas对象的拼接必须要放在可迭代对象中进行

a      10
b      20
d      30
A       1
B       2
C       3
aa    100
bb    200
cc    300
dtype: int64

#### DataFrame对象的拼接

In [11]:
#首先编写一个函数生成DataFrame对象用于后续的处理
def make_dataframe(cols,indexes):#cols指的是列名 indexes指的是行名
    data_dict = {
        c:[
            c+str(i) for i in indexes #这个位置由于是列表生成式所以要使用[]
        ]for c in cols
    }
    print(data_dict)
    return pd.DataFrame(data_dict,index=indexes)#index索引指的是每一行的名字

In [12]:
df1 = make_dataframe("AB",[1,2])
df1

{'A': ['A1', 'A2'], 'B': ['B1', 'B2']}

    A   B
1  A1  B1
2  A2  B2

In [14]:
df2 = make_dataframe("AB",[3,4])
df2

{'A': ['A3', 'A4'], 'B': ['B3', 'B4']}

    A   B
3  A3  B3
4  A4  B4

In [16]:
pd.concat([df1,df2])#默认情况下找相同的列索引进行堆叠

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [17]:
#添加axis参数  使用横向的方式进行堆叠  默认去找相同的行名如果没有则在右下重新创建，空余的部分使用NaN填充
pd.concat([df1,df2],axis=1)

     A    B    A    B
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3  NaN  NaN   A3   B3
4  NaN  NaN   A4   B4

In [18]:
pd.concat([df1,df2],axis=0)

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [19]:
df3 = make_dataframe("AB",[1,2])
df3

{'A': ['A1', 'A2'], 'B': ['B1', 'B2']}

    A   B
1  A1  B1
2  A2  B2

In [22]:
#解决重复索引的方式①
#如果需要堆叠的两个DataFrame完全相同 会出现重复的索引 这时就需要加上ignore_index=True参数将索引重新排列
pd.concat([df1,df3],ignore_index=True)#默认情况下索引从0开始

    A   B
0  A1  B1
1  A2  B2
2  A1  B1
3  A2  B2

In [23]:
#解决重复索引的方式②
#添加keys参数 标记来自不同DataFrame对象的位置划分
pd.concat([df1,df2,df3],keys=[1,2,3])

      A   B
1 1  A1  B1
  2  A2  B2
2 3  A3  B3
  4  A4  B4
3 1  A1  B1
  2  A2  B2

In [25]:
#解决重复索引的方式③
#使用内连接取交集的部分 设置join参数的值为inner
a = make_dataframe("ABC",[1,2])
b = make_dataframe("BCD",[3,4])
pd.concat([a,b])

{'A': ['A1', 'A2'], 'B': ['B1', 'B2'], 'C': ['C1', 'C2']}
{'B': ['B3', 'B4'], 'C': ['C3', 'C4'], 'D': ['D3', 'D4']}

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [26]:
pd.concat([a,b],join="inner")

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4