In [1]:
import pandas  as pd

#### head() tail()函数的使用 查看前几行 后几行

In [2]:
#导入数据
data = pd.read_excel("excelTest.xlsx")
data

   姓名  年龄   工作     薪水       入职日期
0  A1  30  CEO   5000 2021-03-08
1  B1  52   主管  15000 1987-05-05
2  C1  25   经理   3900 2020-08-08
3  A2  23   员工   4500 2020-08-07
4  B2  36   主任   5600 2021-08-07
5  C2  25   员工   2000 2018-08-07
6  D2  24   员工   2600 2021-10-01

In [3]:
#查看 head tail部分的数据
data.head()#查看前五行  默认为5行

   姓名  年龄   工作     薪水       入职日期
0  A1  30  CEO   5000 2021-03-08
1  B1  52   主管  15000 1987-05-05
2  C1  25   经理   3900 2020-08-08
3  A2  23   员工   4500 2020-08-07
4  B2  36   主任   5600 2021-08-07

In [4]:
data.tail()#查看后五行  默认为5行

   姓名  年龄  工作    薪水       入职日期
2  C1  25  经理  3900 2020-08-08
3  A2  23  员工  4500 2020-08-07
4  B2  36  主任  5600 2021-08-07
5  C2  25  员工  2000 2018-08-07
6  D2  24  员工  2600 2021-10-01

#### 自定义head 与 tail的参数 查看自定义参数数量的行数

In [5]:
data.head(3)

   姓名  年龄   工作     薪水       入职日期
0  A1  30  CEO   5000 2021-03-08
1  B1  52   主管  15000 1987-05-05
2  C1  25   经理   3900 2020-08-08

In [6]:
data.tail(3)

   姓名  年龄  工作    薪水       入职日期
4  B2  36  主任  5600 2021-08-07
5  C2  25  员工  2000 2018-08-07
6  D2  24  员工  2600 2021-10-01

#### 查看数据源的形状 (实例数据是七行五列)

In [7]:
data.shape

(7, 5)

#### 查看数据每一列的数据类型

In [9]:
data.info()#这个函数实际上输出了data对象的详细信息  这里输出的每一行是对应每一列的信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      7 non-null      object
 1   年龄      7 non-null      int64
 2   工作      7 non-null      object
 3   薪水      7 non-null      int64
 4   入职日期    7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 408.0+ bytes

#### 使用describe()函数获取数据中的数值分布的情况 这个函数会计算 数据总数 方差 均值 标准差 等信息

In [10]:
data.describe()#这个函数仅仅关心数值类型

              年龄            薪水
count   7.000000      7.000000
mean   30.714286   5514.285714
std    10.419761   4372.805572
min    23.000000   2000.000000
25%    24.500000   3250.000000
50%    25.000000   4500.000000
75%    33.000000   5300.000000
max    52.000000  15000.000000