In [3]:
import pandas as pd
import numpy as np

#### 获取某列，某几列

In [4]:
data = pd.DataFrame(np.random.randint(1,12,(3,4)),index=list("abc"),columns=list("ABCD"))
data

    A  B  C   D
a   6  2  2   5
b   2  2  4  10
c  10  5  6   6

In [5]:
#df[列名]  获取某一列的Series对象
data["A"]

a     6
b     2
c    10
Name: A, dtype: int32

In [4]:
#df[[<列名称列表>]]获取多列 
data[["A","D"]]

    A  D
a   3  6
b   7  9
c  10  8

In [5]:
#通过传入具体位置来获得某元素的值  同样的这种方式也可以做切片
#语法  iloc[行标,列标] :表示所有行或者所有列
data.iloc[:,2]#获取第二行所有列的元素

a    6
b    5
c    7
Name: C, dtype: int32

In [6]:
#使用loc方法获取
data.loc[:,"C"]#获取指定的列下的所有行的元素

a    6
b    5
c    7
Name: C, dtype: int32

In [7]:
#获取多列
#案例 获取 A C D三列
#使用位置索引来处理的情况
data.iloc[:,[0,2,3]]

    A  C  D
a   3  6  6
b   7  5  9
c  10  7  8

In [8]:
#使用普通索引来处理的情况
data.loc[:,["A","C","D"]]

    A  C  D
a   3  6  6
b   7  5  9
c  10  7  8

In [9]:
#如果需要连续的获取几列，那么就可以使用索引的切片进行处理 
#这种处理方式既可以使用位置索引也可以使用普通索引

#### 案例：获取连续的几列

In [1]:
#使用普通索引 loc 获取 BCD
data.loc[:,"B":"D"]

NameError: name 'data' is not defined

In [13]:
#使用位置索引 iloc
data.iloc[:,[1]]#在使用iloc的时候需要在列表中指定具体需要获取那几列

    B
a  10
b  10
c   1