#### 获取某行或者某几行

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.random.randint(1,12,(3,4)),index=list("abc"),columns=list("ABCD"))
data

    A  B  C   D
a  11  7  9   6
b  11  6  5   1
c   1  6  3  11

In [3]:
#使用普通索引进行获取的情况
#获取a行
data.loc['a']

A    11
B     7
C     9
D     6
Name: a, dtype: int32

In [4]:
#获取c行
data.loc['c']

A     1
B     6
C     3
D    11
Name: c, dtype: int32

In [5]:
#使用位置索引进行获取
#获取a行
data.iloc[1]

A    11
B     6
C     5
D     1
Name: b, dtype: int32

In [6]:
##获取b行
data.iloc[2]

A     1
B     6
C     3
D    11
Name: c, dtype: int32

In [7]:
#获取多行
#案例 获取 a c两行
#使用普通索引获取
data.loc[['a','c']]

    A  B  C   D
a  11  7  9   6
c   1  6  3  11

In [8]:
#使用位置索引获取a  c两行
data.iloc[[0,2]]

    A  B  C   D
a  11  7  9   6
c   1  6  3  11

#### 基于行的切片操作  获取连续的某几行

In [9]:
#使用普通索引获取 a->b两行
data.loc['a':'b']#值得注意的是 进行切片的时候不需要传入一个列表

    A  B  C  D
a  11  7  9  6
b  11  6  5  1

In [10]:
#使用位置索引进行获取
data.iloc[0:2]#左闭右开区间 可以取得0 1 两行

    A  B  C  D
a  11  7  9  6
b  11  6  5  1

In [11]:
#同时获取部分连续行与连续列 是用切片来完成
#用普通索引
data.loc['a':'b','A':'B']

    A  B
a  11  7
b  11  6

In [12]:
#使用位置索引完成上述工作
data.iloc[0:2,0:2]

    A  B
a  11  7
b  11  6

#### 获取不连续的部分行与部分列

In [13]:
data

    A  B  C   D
a  11  7  9   6
b  11  6  5   1
c   1  6  3  11

In [14]:
#使用普通索引 a c 两行 A B D三列
data.loc[['a','c'],['A','B','D']]

    A  B   D
a  11  7   6
c   1  6  11

In [15]:
#使用位置索引完成上述任务
data.iloc[[0,2],[0,1,3]]

    A  B   D
a  11  7   6
c   1  6  11