In [1]:
import pandas as pd

### 针对Series对象的过滤

In [2]:
data = pd.Series([1,23,3,5434,56,347,468,7534,232,231])
data.size

10

In [3]:
data

0       1
1      23
2       3
3    5434
4      56
5     347
6     468
7    7534
8     232
9     231
dtype: int64

In [4]:
#求解 最大值 最小值 以及平均值
print("最大值:",data.max())
print("最小值:",data.min())
print("平均值:",data.mean())
print("标准差:",data.std())

最大值: 7534
最小值: 1
平均值: 1432.9
标准差: 2712.2721286773567

In [5]:
#对一组有实际意义的数据进行操作 假设这组数据代表了一组学生的信息
data = pd.DataFrame(
    {
        'Name':['zs','lisi','ww'],
        'Sno':['1001','1002','1003'],
        'Sex':['man','woman','man'],
        'Age':[17,18,19],
        'Score':[80,97,95]
    },
    columns=['Sno','Sex','Age','Score'],
    index=['zs','lisi','ww']
)

In [6]:
#查看data数据集的信息
data

       Sno    Sex  Age  Score
zs    1001    man   17     80
lisi  1002  woman   18     97
ww    1003    man   19     95

In [7]:
#获取age的最大 最小 以及平均值 标准差等信息
#首先获取年龄的series对象
ages = data.loc[:,"Age"]
ages

zs      17
lisi    18
ww      19
Name: Age, dtype: int64

In [8]:
#根据求得的series来获取最大值 最小值 以及标准差
print("最小年龄:",ages.min())
print("最大年龄:",ages.max())
print("平均年龄:",ages.mean())
print("标准差:",ages.std())

最小年龄: 17
最大年龄: 19
平均年龄: 18.0
标准差: 1.0

In [9]:
#当数据特别多的时候可以使用筛选功能

In [10]:
#案例:筛选出成绩大于平均值的数据
#首先对数据进行展示
data

       Sno    Sex  Age  Score
zs    1001    man   17     80
lisi  1002  woman   18     97
ww    1003    man   19     95

In [11]:
#获取成绩的所有数据
scores = data.loc[:,'Score']
scores

zs      80
lisi    97
ww      95
Name: Score, dtype: int64

In [12]:
#对问题进行求解 先求解平均值
scores.mean()

90.66666666666667

In [13]:
#对表格进行筛选以及过滤
scores>scores.mean()

zs      False
lisi     True
ww       True
Name: Score, dtype: bool

In [14]:
#下面这条语句会根据[]里面给出的条件进行对特定条目的筛选
scores[scores>scores.mean()]#这句话的意思是对每一个分数如果大于平均分就将其保留

lisi    97
ww      95
Name: Score, dtype: int64

### 针对DataFrame对象的过滤

In [15]:
#案例：获取成绩大于平均值的所有记录，但是仅仅显示Sno Age Score三列
#首先展示当前的数据集
data

       Sno    Sex  Age  Score
zs    1001    man   17     80
lisi  1002  woman   18     97
ww    1003    man   19     95

In [18]:
#获取乘积大于平均值的所有记录 对DataFrame对象进行过滤
data[scores>scores.mean()]

       Sno    Sex  Age  Score
lisi  1002  woman   18     97
ww    1003    man   19     95

#### 在上述结果的基础之上进行筛选 只显示 Sno Age Score三列

In [21]:
data[scores>scores.mean()].loc[:,['Sno','Age','Score']]

       Sno  Age  Score
lisi  1002   18     97
ww    1003   19     95