In [1]:
import pandas as pd

In [2]:
# how = inner：党同伐异；
# outer：求同存异；
# right：以第二个参数即right的'key1','key2'为准，得到的结果包含所有的'key1','key2'值，
# left：同理

In [3]:
left = pd.DataFrame(
    {
        'key':['k0','k1','k2','k3'],
        'A'  :['A0','A1','A2','A3'],
        'B'  :['B0','B1','B2','B3']
    }
)
left

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [4]:
right = pd.DataFrame(
    {
        'key':['k0','k2','k3','k4'],
        'C'  :['C0','C1','C2','C3'],
        'D'  :['D0','D1','D2','D3']
    }
)
right

  key   C   D
0  k0  C0  D0
1  k2  C1  D1
2  k3  C2  D2
3  k4  C3  D3

In [6]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k2  A2  B2  C1  D1
2  k3  A3  B3  C2  D2

In [11]:
pd.merge(left,right,how='outer',on='key')

  key    A    B    C    D
0  k0   A0   B0   C0   D0
1  k1   A1   B1  NaN  NaN
2  k2   A2   B2   C1   D1
3  k3   A3   B3   C2   D2
4  k4  NaN  NaN   C3   D3

In [14]:
pd.merge(left,right,how='left',on='key')#左边DF对象的行全部显示

  key   A   B    C    D
0  k0  A0  B0   C0   D0
1  k1  A1  B1  NaN  NaN
2  k2  A2  B2   C1   D1
3  k3  A3  B3   C2   D2

In [15]:
pd.merge(left,right,how='right',on='key')#右边DF对象的行全部显示

  key    A    B   C   D
0  k0   A0   B0  C0  D0
1  k2   A2   B2  C1  D1
2  k3   A3   B3  C2  D2
3  k4  NaN  NaN  C3  D3

In [18]:
#全外连接
pd.merge(left,right,how="outer",on='key')

  key    A    B    C    D
0  k0   A0   B0   C0   D0
1  k1   A1   B1  NaN  NaN
2  k2   A2   B2   C1   D1
3  k3   A3   B3   C2   D2
4  k4  NaN  NaN   C3   D3